extends layout

block content
    .createGameContainer
        form
            label(for="nicknameInput") Name:
            input(type="text" name="nicknameInput" placeholder="Enter your name")
            button(type="submit") Create game