extends layout

block content
    .landingContainer
        p image
        h1 Quantum Go Fish
        .landingForm
            form(action="/create")
                button(type="submit") Create a game
            form(action="/join")
                button(type="submit") Join a game

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/gameLogic.js")