extends layout

block content
    #landing-container.content-container
        p image
        h1 Quantum Go Fish
        .landing-form
            button(type="button" onclick="createGameView();") Create a game
            button(type="button" onclick="joinGameView();") Join a game

    #create-game-container.content-container.hidden
        .create-game-form
            label(for="createName") Name:
            input(name="createName" placeholder="Enter your name" id="create-name")
            span(class="hidden" id="invalid-create-name") Please enter a 2-15 character name.
            button(type="button" onclick="createGame(); toLobbyView();") Create game
            button(type="button" onclick="toHomeView();") Back to Home

    #join-game-container.content-container.hidden
        .join-game-form
            label(for="code") Game code:
            input(name="code" placeholder="Enter your game code" id="join-code")
            label(for="joinName") Name:
            input(name="joinName" placeholder="Enter your name" id="join-name")
            span(class="hidden" id="invalid-join-name") Please enter a 2-15 character name.
            button(type="button" onclick="joinGame(); toLobbyView();") Join game
            button(type="button" onclick="toHomeView();") Back to Home

    #game-lobby-container.content-container.hidden
        h1.add-code
        ul(id="player-list")
        button(type="button" onclick="startGame(); toGameView();") Start Game
    
    #game-container.content-container.hidden
        h1.add-code
        p the game

block scripts
    script(src="/javascripts/viewLogic.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/gameLogic.js")