extends layout

block styles
    link(rel="stylesheet", href="/stylesheets/game.css")
    link(rel="stylesheet", href="/stylesheets/main.css")

block content
    #landing-container.content-container.nav-container
        p image
        h1 Quantum Go Fish
        .landing-form.submit-btn
            button(type="button" onclick="createGameView();") Create a game
            button(type="button" onclick="joinGameView();") Join a game

    #create-game-container.content-container.nav-container.hidden
        .create-game-form
            h1 Create a Game
            div
                label(for="createName") Name:
                input(name="createName" placeholder="Enter your name" id="create-name")
                span(class="hidden" id="invalid-create-name") Please enter a 2-15 character name.
            .submit-btn
                button(type="button" onclick="createGame(); toLobbyView();") Create game
                button(type="button" onclick="toHomeView();") Back to Home

    #join-game-container.content-container.nav-container.hidden
        .join-game-form
            h1 Join a Game
            div
                label(for="code") Game code:
                input(name="code" placeholder="Enter your game code" id="join-code")
                span(class="hidden" id="invalid-game-code") The game you're looking for doesn't exist.
            div
                label(for="joinName") Name:
                input(name="joinName" placeholder="Enter your name" id="join-name")
                span(class="hidden" id="duplicate-join-name") Someone has already claimed your name!
                span(class="hidden" id="invalid-join-name") Please enter a 2-15 character name.
            .submit-btn
                button(type="button" onclick="joinGame();") Join game
                button(type="button" onclick="toHomeView();") Back to Home

    #game-lobby-container.content-container.gl-container.hidden
        .lobby-container
            h1.add-code
            ul(id="player-list")
            button(type="button" onclick="startGame();") Start Game
            span(class="hidden" id="more-player-error") You need more players to start the game.
        .game-container.hidden
            #your-hand
            #turn-container
                #turn-text
                #question-container
                    label(for="player-select") Select a player: 
                    select(name="player-select" id="player-select")
                    label(for="suit-select") Select a suit:
                    select(name="suit-select" id="suit-select")
                    button(type="button" onclick="askQuestion();") Ask Question
                #response-container
                    #response-text
                    #response-select-container
                        label(for="response-select") Answer: 
                        select(name="response-select" id="response-select")
                        button(type="button" onclick="answerQuestion();") Answer Question
            ul(id="other-players")

block scripts
    script(src="/javascripts/viewLogic.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/gameLogic.js")