extends layout

block styles
    link(rel="stylesheet", href="/stylesheets/game.css")
    link(rel="stylesheet", href="/stylesheets/main.css")

block content
    header.mobile-header
        input(class="menu-btn" type="checkbox" id="menu-btn")
        label(class="menu-icon" for="menu-btn")
            span.navicon
        h3 Quantum Go Fish
        ul.menu
            li
                a(href="./how-to-play" target="_blank") How to Play
                a(href="https://github.com/kxc3568/quantum-go-fish" target="_blank") GitHub
    header.desktop-header
        form(action="/how-to-play" class="nav-form" target="_blank")
            button(type="submit" class="nav-btn") How to Play
        form(action="https://github.com/kxc3568/quantum-go-fish" class="nav-form" target="_blank")
            button(type="submit" class="nav-btn") GitHub
    #landing-container.content-container.nav-container
        include logo.pug
        .desktop-landing
            h1 Quantum Go Fish
        .landing-form.submit-btn
            button(type="button" onclick="createGameView();") Create a game
            button(type="button" onclick="joinGameView();") Join a game

    #create-game-container.content-container.nav-container
        .create-game-form
            .horiz-center
                include logo.pug
            .nav-inputs.horiz-center
                label(for="createName") Name:
                input(type="text" name="createName" placeholder="Enter your name" id="create-name" oninput="updateCreateButton();" maxlength="20")
            .setting-inputs
                input(type="checkbox", name="setting-determined" id="setting-determined" checked)
                label(for="setting-determined") Show determined suits
                br
                input(type="checkbox", name="setting-history" id="setting-history" checked)
                label(for="setting-history") Show move and deduction history
            .submit-btn
                button(type="button" onclick="createGame();" id="create-game-btn" disabled) Create game
                button(type="button" onclick="toHomeView();") Back to Home

    #join-game-container.content-container.nav-container
        .join-game-form
            .horiz-center
                include logo.pug
            .nav-inputs.horiz-center
                label(for="code") Room Code:
                input(type="text" name="code" placeholder="Enter your game code" id="join-code" oninput="updateJoinButton();" maxlength="4")
                span(id="invalid-game-code") The game you're looking for doesn't exist.
            .nav-inputs.horiz-center
                label(for="joinName") Name:
                input(type="text" name="joinName" placeholder="Enter your name" id="join-name" oninput="updateJoinButton();" maxlength="15")
                span(id="duplicate-join-name") Someone has already claimed your name!
            .submit-btn
                button(type="button" onclick="joinGame();" id="join-game-btn" disabled) Join game
                button(type="button" onclick="toHomeView();") Back to Home

    #game-container.content-container.game-container
        .score-history-container
            .score-container
                .score-history-label
                    button(type="button" onclick="toggleScores();" class="score-history-label-button") View Scores
                    .score-history-label-div View Scores
                .scores
            .history-container
                .score-history-label
                    button(type="button" onclick="toggleHistory();" class="score-history-label-button") View History
                    .score-history-label-div View History
                .history
        section.round-container
            h1.add-code
            .lobby-container
                .game-end
                    h1.player-result
                    p.score-result
                ul(id="player-list")
                button(type="button" onclick="startGame();") Start New Game
                span(id="more-player-error") You need more players to start the game.
        section.hands-container.center-within
            #current-player
            #turn-container
                #turn-text
                #question-container
                    .select
                        label(for="player-select") Select a player: 
                        select(name="player-select" id="player-select")
                    .select
                        label(for="suit-select") Select a suit: 
                        select(name="suit-select" id="suit-select")
                    .center-inside
                        button(type="button" onclick="askQuestion();") Ask Question
                #response-container
                    #response-text
                    #response-select-container
                        .select
                            label(for="response-select") Answer: 
                            select(name="response-select" id="response-select")
                        .center-inside
                            button(type="button" onclick="answerQuestion();") Answer Question

block scripts
    script(src="/javascripts/viewLogic.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/gameLogic.js")