extends layout

block content
    .createGameContainer
        form
            label(for="gameCodeInput") Game ID:
            input(type="text" name="gameCodeInput" placeholder="Enter your code")
            label(for="nicknameInput") Name:
            input(type="text" name="nicknameInput" placeholder="Enter your name")
            button(type="submit") Join game