doctype html
html
    head
        title Quantum Go Fish
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="google-site-verification" content="f8jAH1KcLAg2gXA5zoUyZ8tCkvpV0jW3WodnU81BAhA")
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="/stylesheets/theme.css")
        block styles
    body
        block content
        block scripts
