.center-inside {
    display: flex;
    justify-content: center;
}

/*
    SCORES, HISTORY, LOBBY
*/

.scores, .history {
    display: flex;
    flex-direction: column;
    max-height: 36vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.scores {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.scores p {
    padding: 0 1rem;
}

.history {
    margin: 0 0.5rem;
}

/*
    PLAYERS, HANDS, TURNS
*/

.player-name {
    max-width: 10rem;
}

.player-name h3 {
    text-align: center;
    background-color: var(--color-main);
    border: 1px solid black;
    padding: 0 0.5rem;
}

.player-hand {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.card {
    display: inline-block;
    width: 3rem;
    height: 4.5rem;
    margin: 0.5rem;
}

.determined {
    border: 1px solid black;
    background-color: var(--color-main);
}

.undetermined {
    border: 1px dashed black;
}

.card-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    font-size: 0.75rem;
}

@media (min-width: 1024px) {
    #current-player, .other-player {
        margin-bottom: 2rem;
    }
}