.center-inside {
    display: flex;
    justify-content: center;
}

.center-within {
    margin: 0 auto;
}

.game-container, .hands-container, .history-container, #question-container, #response-text, #response-select-container {
    display: none;
}

.game-container {
    flex-direction: row;
    padding: 0 2rem;
}

.history-container, .lobby-container {
    flex-direction: column;
}

.lobby-container {
    display: flex;
}

.round-container {
    margin: 0 auto;
}

.hands-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.player-name {
    max-width: 6rem;
}

.player-name h3 {
    text-align: center;
    background-color: var(--color-main);
    border: 1px solid black;
    padding: 0 0.5rem;
}

.player-hand {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.card {
    display: inline-block;
    width: 3rem;
    height: 4.5rem;
    margin: 0.5rem;
}

.determined {
    border: 1px solid black;
    background-color: var(--color-main);
}

.undetermined {
    border: 1px dashed black;
}

.card-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    font-size: 0.75rem;
}

#question-container {
    flex-direction: column;
}

@media (min-width: 1024px) {
    .game-container {
        width: 80vw;
        margin: 3rem auto 0;
    }

    .history-container, .lobby-container {
        width: 40vw;
    }

    .hands-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hands-container div:nth-child(1) {
        margin-bottom: 3rem;
    }
}