.g-container {
    display: flex;
    flex-direction: row;
}

.flex-left {
    width: 30vw;
}

.flex-right {
    width: 70vw;
}

.lobby-history-container {
    display: flex;
    flex-direction: column;
}

.hands-container {
    display: flex;
    flex-direction: column;
}

#question-container {
    display: none;
}

#response-text {
    display: none;
}

#response-select-container {
    display: none;
}