.mobile-header li a:hover {
    background-color: #31a8c4;
}

.mobile-header .menu-btn:checked ~ .menu {
    max-height: 120px;
}

.mobile-header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.mobile-header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.mobile-header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.mobile-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.mobile-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
