.horiz-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    border: 1px solid black;
    height: 2rem;
    margin-bottom: 1.25rem;
}

.nav-inputs {
    vertical-align: baseline;
}

.nav-inputs label {
    display: block;
    margin-top: 1.25rem;
}

.setting-inputs {
    margin: 2rem;
}

.setting-inputs label {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .nav-inputs {
        max-width: 300px;
    }

    .create-game-form, .join-game-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
