html, body {
    width: 99%;
    height: 99%;
}

.hidden {
    display: none;
}

button {
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    display: block;
}

button:hover {
    border-style: dashed;
}

input {
    margin-bottom: 1rem;
}

.nav-container {
    display: flex;
    flex-direction: column;
    height: 85vh;
    align-items: center;
    justify-content: center;
}

@media (min-width: 900px) {
    .submit-btn button {
        display: inline;
    }
}
