.mobile-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--color-main);
    border-bottom: 1px solid black;
    width: 100%;
}

.mobile-header h3 {
    grid-column: 2/4;
    transform: translate(-20px)
}

.mobile-header ul {
    grid-column: 1/4;
    background-color: var(--color-main);
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.mobile-header li a {
    display: block;
    color: black;
    padding: 20px 20px;
    border-right: 1px solid black;
    text-decoration: none;
}

.mobile-header li a:hover {
    background-color: #31a8c4;
}

.mobile-header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.mobile-header .menu-icon {
    grid-column: 1/2;
    display: inline-block;
    padding: 28px 20px;
    user-select: none;
}

.mobile-header .menu-icon .navicon {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.mobile-header .menu-icon .navicon:before,
.mobile-header .menu-icon .navicon:after {
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.mobile-header .menu-icon .navicon:before {
    top: 5px;
}

.mobile-header .menu-icon .navicon:after {
    top: -5px;
}

.mobile-header .menu-btn {
    display: none;
}

.mobile-header .menu-btn:checked ~ .menu {
    max-height: 120px;
}

.mobile-header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.mobile-header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.mobile-header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.mobile-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.mobile-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

#create-game-container, #join-game-container, .nav-inputs span, .desktop-landing {
    display: none;
}

.logo {
    width: 70vw;
    margin: 5rem 0;
}

.horiz-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    border: 1px solid black;
    height: 2rem;
    margin-bottom: 1.25rem;
}

button {
    background-color: var(--color-main);
    border: 1px solid black;
    font-size: 1rem;
    padding: 0.75rem;
    margin: 2rem;
}

button:hover {
    border-style: dashed;
}

.nav-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
}

.submit-btn button {
    min-width: 260px;
}

.nav-inputs {
    vertical-align: baseline;
}

.nav-inputs label {
    display: block;
    margin-top: 1.25rem;
}

.setting-inputs {
    margin: 2rem;
}

.setting-inputs label {
    font-size: 1rem;
}

@media (min-width: 1024px) {
    .mobile-header {
        display: none;
    }

    .logo {
        width: 30vw;
    }

    .desktop-landing {
        display: block;
    }

    .nav-container {
        justify-content: center;
    }

    .submit-btn button {
        display: inline;
    }

    .nav-inputs {
        max-width: 300px;
    }

    .create-game-form, .join-game-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
